* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#content {
  /* font-size: 88px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#img {
  width: 400px;
  height: 400px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

#gallery img {
  width: 100px;
  height: 100px;
}

#img:hover {
  cursor: pointer;
}

#gallery-button:hover {
  cursor: grab;
}

#gallery-button:active {
  cursor: grabbing;
}

body.light {
  background-color: rgb(27, 26, 26);
}

body.dark {
  opacity: 50%;
  background-color: black;
}
